#addonsHeader
  position relative
  width 100%
  margin 0
  padding 1em 0 1em 0
  background rgba(0,0,0,0.4)
  height 5em
  text-align center
  box-shadow 0 10px 30px rgba(0,0,0,0.7)


.addon
  width 100%
  height 5em
  background lightblue
  border 2px solid darkblue