* {
  box-sizing border-box
  margin 0
  padding 0
}

body
  margin 0
  padding 0
  font-family arimo, sans-serif

h1 
h2
h3
  font-family pacifico

.hide
  visibility hidden
  opacity 0

.show
  opacity 1
  visibility visible
  background-color green

@keyframes animate {
  0% {
    opacity: 0;
    z-index: 0;
  }
  50% {
    visibility: 1;
    opacity 1;
    z-index: 0;
  }
  100% {
    z-index: 1;
  }
}