* 
  box-sizing border-box
  margin 0
  padding 0
  -webkit-user-select none  /* Chrome all / Safari all */
  -moz-user-select none     /* Firefox all */
  -ms-user-select none      /* IE 10+ */
  user-select none       /* Likely future */
  cursor default


body
  margin 0
  padding 0
  font-family arimo, sans-serif

h1 
h2
h3
  font-family pacifico

.hide
  visibility hidden
  opacity 0

.show
  opacity 1
  visibility visible
  background-color green

@keyframes animate {
  0% {
    opacity: 0;
    z-index: 0;
  }
  50% {
    visibility: 1;
    opacity 1;
    z-index: 0;
  }
  100% {
    z-index: 1;
  }
}