#mainContainer
  max-width 1200px
  margin 0 auto
  padding 1em

#appContainer
  display flex
  flex-direction column

#vinylContainer,
#scoringContainer,
#addonsContainer
  background-color grey
  margin 1em
  flex 1
  min-height 500px
  min-width 300px

.containerHeader
  position relative
  width 100%
  margin 0
  padding 1em 0 1em 0
  background rgba(0,0,0,0.4)
  height 5em
  text-align center
  box-shadow 0 10px 30px rgba(0,0,0,0.7)

@media screen and (min-width 768px)
  #appContainer
    flex-direction row
    flex-wrap wrap
    justify-content center